@page
@model PhotoAlbum.Views.Albums.Album1Model
@{
}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>UC Table Tennis Team</title>
		<link rel="stylesheet" href="/css/Album1.css">
		<style>
			/* Inline CSS style */
			.header {
				background-image: url('/Album1/1bg.jpg');
				background-size: cover;
				color: #020202;
				padding: 0;
				text-align: center;
				font-size: 23px;
			}
		</style>
	</head>
	<body>
		<h1>University Of Cebu Table Tennis Team</h1>
		<div class="flex-container">
			<div class="flex-box">
			<img src="/Album1/coach.jpg">
				<p>Glendo Nayre</p>
				<p>Coach</p>
			</div>
			<div class="flex-box">
				<img src="mikay.jpg">
				<p>Mikylla Therese Dinauanao</p>
			</div>
			<div class="flex-box">
				<img src="kaye.jpg">
				<p>Kristienne Kaye Alicaya</p>
			</div>
			<div class="flex-box">
				<img src="chuchay.jpg">
				<p>Krizzia Lauren Acaylar</p>
			</div>
			<div class="flex-box">
				<img src="labjoy.jpg">
				<p>Allana Felize Salar</p>
			</div>
			<div class="flex-box">
				<img src="jeama.jpg">
				<p>Jeama Kesiya Abundo</p>
			</div>
			<div class="flex-box">
				<img src="aira.jpg">
				<p>Aira Macabinguil</p>
			</div>
			<div class="flex-box">
				<img src="franz.jpg">
				<p>Franz Honoridez</p>
			</div>
			<div class="flex-box">
				<img src="patrick.jpg">
				<p>Patrick Ladera</p>
			</div>
			<div class="flex-box">
				<img src="rap.jpg">
				<p>Rafael David Misa</p>
			</div>
			<div class="flex-box">
				<img src="levhin.jpg">
				<p>Le Vhin Villanueva</p>
			</div>
			<div class="flex-box">
				<img src="clyde.jpg">
				<p>Clyde Jaca</p>
			</div>
			<div class="flex-box">
				<img src="neve.jpg">
				<p>Neve Gabrielle Mata</p>
			</div>
			<div class="flex-box">
				<img src="ning.jpg">
				<p>Melanie Galeon</p>
			</div>
			<div class="flex-box">
				<img src="gab.jpg">
				<p>Gabriel David Misa</p>
			</div>
			<div class="flex-box">
				<img src="andrie.jpg">
				<p>Andrie Caballes</p>
			</div>
			<div class="flex-box">
				<img src="harvey.jpg">
				<p>Harvey Durano Jr.</p>
			</div>
			<div class="flex-box">
				<img src="cesafi.jpg">
				<p>CESAFI CHAMPIONS</p>
			</div>
			<div class="flex-box">
				<img src="regional.jpg">
				<p>Regional PRISAA 2023 Champions</p>
			</div>
			<div class="flex-box">
				<img src="prisaa.jpg">
				<p>National PRISAA 2023 Champions</p>
			</div>
		</div>
	</body>
</html>
